@media (max-width:430px)
{
    body{
        width:60%;
        margin:0 auto;
    }
    .submit{
        padding: 25px 40px;
        border-radius: 8px;
    }
    a{
        padding: 10px;
        display:block;
    }
    img{
        max-width: 55%;
    }
}